.vercel
.DS_Store
Photos Africa 2025/
Photos Americas 2026/
Photos Asia 2024/
Photos Asia Pacific 2026/
Photos Europe 2023/
Photos Global Gathering 2024/
Photos Global Gathering 2025/
Photos Latin america 2024/
Photos Oceania 2025/
Photos north america 2023/
Website imagery/
Website moodboard and references/
*.xlsx
*.docx
.env*.local
